<div [formGroup]="contractGroup">
    <div class="form-group">
        <label>Answers</label>
        <!--<input type="text" class="form-control" formControlName="name">-->
    </div>

    <div formArrayName="answers">
        <div *ngFor="let answer of contractGroup.controls.answers.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Answer {{i + 1}}</span>
                <span class="pe-7s-close-circle pe-3x pe-va pull-right" *ngIf="contractGroup.controls.answers.controls.length > 1" (click)="removeAnswer(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">

                <!--<email [group]="contractGroup.controls.emails.controls[i]"></email>-->

                <!--//umesto posebno da pisemo <email></email>-->
                    <div class="form-group">
                        <label>Text</label>
                        <input type="text" class="form-control" formControlName="text"  disabled>
                    </div>

            </div>
        </div>
    </div>




    <!--{{ myForm.get('questions').value}}-->
    <!--&lt;!&ndash;{{ myForm.get('qtype').value}}&ndash;&gt;-->
    <!--myForm.controls.questions.controls-->
    <!--<div class="form-group col-md-12" >-->
    <!--&lt;!&ndash;LEON BLJAT&ndash;&gt;-->
    <!--&lt;!&ndash; Llist of Answers &ndash;&gt;-->
    <!--<div formArrayName="answers" align=center>-->
    <!--<div [formGroupName]="j" *ngFor="let answer of question.controls.answers.controls; let j=index">-->
    <!--<div class="Question-panel-content">-->
    <!--<span>Answer {{j + 1}}:</span>-->
    <!--<input class="form-control"-->
    <!--type="text"-->
    <!--required = "true"-->
    <!--formControlName="answerText">-->
    <!--<br/><a (click)="addAnswer(i)">Add answer</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="form-group col-md-4 col-md-offset-3" >
    <div class="margin-20">
        <button (click)="addAnswer()" class="btn btn-primary">
            Add another answer +
        </button>
    </div>
    </div>

</div>