<div class="main-content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Surveys</h4>
                        <p class="category">A table for survey data</p>
                        <br />
                    </div>

                    <div class="content table-responsive table-full-width">

                        <!-------------------------moja tabela---------------------->
                        <datatable [dataset]= surveys_data [enableFilter]=true >
                            <column [value]="'id'" [header]="'Id'"></column>
                            <column [value]="'title'" [header]="'Title'"></column>
                            <column [value]="'started_at'" [header]="'Started'"></column>
                            <column [value]="'finished_at'" [header]="'Finished'"></column>

                        </datatable>

                    </div>




                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->









        </div> <!-- end row -->

    </div>
</div>

