<div class="wrapper wrapper-full-page">

    <div class="full-page lock-page" data-color="red" data-image="../../assets/img/full-screen-image-4.jpg">

        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <form method="#" action="#">
                <div class="user-profile">
                    <div class="author">
                        <img class="avatar" src="../../assets/img/x.png" alt="...">
                    </div>
                    <h4>404</h4>
                    <button type="button" class="btn btn-neutral btn-round btn-fil btn-wd" routerLink="/login">Back to Login</button>
                </div>
            </form>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">

                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Survey App</a>, made with love for a better web by plebs
                </p>
            </div>
        </footer>
    </div>

</div>

